/dynmap
/saves
/xaero
/shaderpacks/ComplementaryUnbound_r5.7.1 + EuphoriaPatches_1.8.6
/shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6
/screenshots
/schematics
/logs
/essential
/dynamic-data-pack-cache
/crash-reports
/.fabric
welcomescreen_cache.json
XaeroWaypoints_BACKUP240807/Multiplayer_hfk.falix.gg/config.txt
shaderpacks/Bliss_v2.1.2_(Chocapic13_Shaders_edit).zip
shaderpacks/Bliss_v2.1.2_(Chocapic13_Shaders_edit).zip.txt
shaderpacks/ComplementaryReimagined_r5.6.1.zip.txt
shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6.txt
shaderpacks/ComplementaryReimagined_r5.7.1.zip.txt
shaderpacks/ComplementaryUnbound_r5.7.1 + EuphoriaPatches_1.8.6.txt
/Optional Resourcepacks
replay_pid31896.log
servers.dat_old
hs_err_pid13456.log
hs_err_pid31896.log
hs_err_pid4392.log
hs_err_pid7136.log
/debug
/Distant_Horizons_server_data
/downloads
/dynamic-resource-pack-cache
config/libraryferret_1.properties
config/jade/usernamecache.json
config/iris.properties
config/invmove/vanilla.json
config/invmove/unrecognized.json
config/invmove/jei.json
config/invmove/emi.json
config/invmove/cloth-config.json
config/invmove.json
config/fabric/indigo-renderer.properties
config/continuebutton/config.properties
config/awesomedungeonocean_1.properties
config/awesomedungeonnether_1.properties
config/awesomedungeon_1.properties
.mixin.out/class/net/minecraft/class_310.class
command_history.txt
config/awesomedungeon_1.properties
config/awesomedungeonnether_1.properties
config/awesomedungeonocean_1.properties
config/continuebutton/config.properties
config/fabric/indigo-renderer.properties
config/invmove/unrecognized.json
config/iris.properties
config/jade/usernamecache.json
config/libraryferret_1.properties
config/litematica/litematica_host.falixserver.net_23990.json
config/litematica/litematica_host.falixserver.net_23990_dim_minecraft_overworld.json
config/minecraftcapes/capes/1f/1f961b652741ac49e675943f588166a83a9e3e6aee13f98f682fcbadaa6ea7a9
config/minecraftcapes/capes/88/88e037ea6d3d4e458d697a70f89a6c0648b5d856627417f056b24ba112c7f688
config/packetfixer.properties
config/sodium-fingerprint.json
config/voicechat/voicechat-client.properties
mods/worldweaver-21.0.13.jar.disabled
mods/worldedit-mod-7.3.8.jar
mods/litematica-fabric-1.21.1-0.19.50.jar
mods/litematic-downloader-1.1.0-beta.jar
emi.json
fabricloader.log
fancymenu_data/buddy/buddy_leveling.json
fancymenu_data/buddy/buddy_save.json
fancymenu_data/last_world.fmdata
minecraftinstance.json
config/awesomedungeon_1.properties
config/awesomedungeonnether_1.properties
config/awesomedungeonocean_1.properties
config/continuebutton/config.properties
config/fabric/indigo-renderer.properties
config/invmove/unrecognized.json
config/iris.properties
config/jade/usernamecache.json
config/libraryferret_1.properties
config/packetfixer.properties
config/sodium-fingerprint.json
config/voicechat/voicechat-client.properties
data/fabricDefaultResourcePacks.dat
patchouli_data.json
servers.essential.dat
user-prefs.json
usercache.json
usernamecache.json
modlist.html
minecraftinstance.json
