/dynmap
/saves
/xaero
/shaderpacks/ComplementaryUnbound_r5.7.1 + EuphoriaPatches_1.8.6
/shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6
/screenshots
/schematics
/logs
/essential
/dynamic-data-pack-cache
/crash-reports
/.fabric
welcomescreen_cache.json
XaeroWaypoints_BACKUP240807/Multiplayer_hfk.falix.gg/config.txt
shaderpacks/Bliss_v2.1.2_(Chocapic13_Shaders_edit).zip
shaderpacks/Bliss_v2.1.2_(Chocapic13_Shaders_edit).zip.txt
shaderpacks/ComplementaryReimagined_r5.6.1.zip.txt
shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6.txt
shaderpacks/ComplementaryReimagined_r5.7.1.zip.txt
shaderpacks/ComplementaryUnbound_r5.7.1 + EuphoriaPatches_1.8.6.txt
/Optional Resourcepacks
replay_pid31896.log
servers.dat_old
hs_err_pid13456.log
hs_err_pid31896.log
hs_err_pid4392.log
hs_err_pid7136.log
/debug
/Distant_Horizons_server_data
/downloads
/dynamic-resource-pack-cache
config/libraryferret_1.properties
config/jade/usernamecache.json
config/iris.properties
config/invmove/vanilla.json
config/invmove/unrecognized.json
config/invmove/jei.json
config/invmove/emi.json
config/invmove/cloth-config.json
config/invmove.json
config/fabric/indigo-renderer.properties
config/continuebutton/config.properties
config/awesomedungeonocean_1.properties
config/awesomedungeonnether_1.properties
config/awesomedungeon_1.properties
.mixin.out/class/net/minecraft/class_310.class
command_history.txt
config/awesomedungeon_1.properties
config/awesomedungeonnether_1.properties
config/awesomedungeonocean_1.properties
config/continuebutton/config.properties
config/fabric/indigo-renderer.properties
config/invmove/unrecognized.json
config/iris.properties
config/jade/usernamecache.json
config/libraryferret_1.properties
config/litematica/litematica_host.falixserver.net_23990.json
config/litematica/litematica_host.falixserver.net_23990_dim_minecraft_overworld.json
config/minecraftcapes/capes/1f/1f961b652741ac49e675943f588166a83a9e3e6aee13f98f682fcbadaa6ea7a9
config/minecraftcapes/capes/88/88e037ea6d3d4e458d697a70f89a6c0648b5d856627417f056b24ba112c7f688
config/packetfixer.properties
config/sodium-fingerprint.json
config/voicechat/voicechat-client.properties
mods/worldweaver-21.0.13.jar.disabled
mods/worldedit-mod-7.3.8.jar
mods/litematica-fabric-1.21.1-0.19.50.jar
mods/litematic-downloader-1.1.0-beta.jar
emi.json
fabricloader.log
fancymenu_data/buddy/buddy_leveling.json
fancymenu_data/buddy/buddy_save.json
fancymenu_data/last_world.fmdata
minecraftinstance.json
config/awesomedungeon_1.properties
config/awesomedungeonnether_1.properties
config/awesomedungeonocean_1.properties
config/continuebutton/config.properties
config/fabric/indigo-renderer.properties
config/invmove/unrecognized.json
config/iris.properties
config/jade/usernamecache.json
config/libraryferret_1.properties
config/packetfixer.properties
config/sodium-fingerprint.json
config/voicechat/voicechat-client.properties
data/fabricDefaultResourcePacks.dat
patchouli_data.json
servers.essential.dat
user-prefs.json
usercache.json
usernamecache.json
modlist.html
minecraftinstance.json
config/clickthrough.json
config/creativecore.json
config/cubes-without-borders.json
config/litematica.json
config/litematica.json
config/litematica/litematica_new_world.json
config/litematica/litematica_new_world_dim_minecraft_overworld.json
config/malilib.json
config/worldedit/worldedit.properties
config/litematica/litematica_world.json
config/litematica/litematica_world_dim_minecraft_overworld.json
config/litematica/litematica_world_dim_minecraft_the_nether.json
config/worldedit/.archive-unpack/5f7cd289/.unpack_finished
config/worldedit/.archive-unpack/5f7cd289/af/strings.json
config/worldedit/.archive-unpack/5f7cd289/an/strings.json
config/worldedit/.archive-unpack/5f7cd289/ar/strings.json
config/worldedit/.archive-unpack/5f7cd289/ast/strings.json
config/worldedit/.archive-unpack/5f7cd289/az/strings.json
config/worldedit/.archive-unpack/5f7cd289/ba/strings.json
config/worldedit/.archive-unpack/5f7cd289/be/strings.json
config/worldedit/.archive-unpack/5f7cd289/bg/strings.json
config/worldedit/.archive-unpack/5f7cd289/bn/strings.json
config/worldedit/.archive-unpack/5f7cd289/br-FR/strings.json
config/worldedit/.archive-unpack/5f7cd289/brb/strings.json
config/worldedit/.archive-unpack/5f7cd289/bs/strings.json
config/worldedit/.archive-unpack/5f7cd289/ca/strings.json
config/worldedit/.archive-unpack/5f7cd289/ckb/strings.json
config/worldedit/.archive-unpack/5f7cd289/cs/strings.json
config/worldedit/.archive-unpack/5f7cd289/csb/strings.json
config/worldedit/.archive-unpack/5f7cd289/cv/strings.json
config/worldedit/.archive-unpack/5f7cd289/cy/strings.json
config/worldedit/.archive-unpack/5f7cd289/da/strings.json
config/worldedit/.archive-unpack/5f7cd289/de-AT/strings.json
config/worldedit/.archive-unpack/5f7cd289/de-CH/strings.json
config/worldedit/.archive-unpack/5f7cd289/de/strings.json
config/worldedit/.archive-unpack/5f7cd289/dsb-DE/strings.json
config/worldedit/.archive-unpack/5f7cd289/el/strings.json
config/worldedit/.archive-unpack/5f7cd289/en-AU/strings.json
config/worldedit/.archive-unpack/5f7cd289/en-CA/strings.json
config/worldedit/.archive-unpack/5f7cd289/en-GB/strings.json
config/worldedit/.archive-unpack/5f7cd289/en-NZ/strings.json
config/worldedit/.archive-unpack/5f7cd289/en-PT/strings.json
config/worldedit/.archive-unpack/5f7cd289/en-UD/strings.json
config/worldedit/.archive-unpack/5f7cd289/enp/strings.json
config/worldedit/.archive-unpack/5f7cd289/enws/strings.json
config/worldedit/.archive-unpack/5f7cd289/eo/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-AR/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-CL/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-CO/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-EC/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-ES/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-MX/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-UY/strings.json
config/worldedit/.archive-unpack/5f7cd289/es-VE/strings.json
config/worldedit/.archive-unpack/5f7cd289/et/strings.json
config/worldedit/.archive-unpack/5f7cd289/eu/strings.json
config/worldedit/.archive-unpack/5f7cd289/fa/strings.json
config/worldedit/.archive-unpack/5f7cd289/fi/strings.json
config/worldedit/.archive-unpack/5f7cd289/fil/strings.json
config/worldedit/.archive-unpack/5f7cd289/fo/strings.json
config/worldedit/.archive-unpack/5f7cd289/fr-CA/strings.json
config/worldedit/.archive-unpack/5f7cd289/fr/strings.json
config/worldedit/.archive-unpack/5f7cd289/fra-DE/strings.json
config/worldedit/.archive-unpack/5f7cd289/fur-IT/strings.json
config/worldedit/.archive-unpack/5f7cd289/fy-NL/strings.json
config/worldedit/.archive-unpack/5f7cd289/ga-IE/strings.json
config/worldedit/.archive-unpack/5f7cd289/gd/strings.json
config/worldedit/.archive-unpack/5f7cd289/gl/strings.json
config/worldedit/.archive-unpack/5f7cd289/got/strings.json
config/worldedit/.archive-unpack/5f7cd289/gv/strings.json
config/worldedit/.archive-unpack/5f7cd289/haw/strings.json
config/worldedit/.archive-unpack/5f7cd289/he/strings.json
config/worldedit/.archive-unpack/5f7cd289/hi/strings.json
config/worldedit/.archive-unpack/5f7cd289/hr/strings.json
config/worldedit/.archive-unpack/5f7cd289/hsb-DE/strings.json
config/worldedit/.archive-unpack/5f7cd289/hu/strings.json
config/worldedit/.archive-unpack/5f7cd289/hy-AM/strings.json
config/worldedit/.archive-unpack/5f7cd289/id/strings.json
config/worldedit/.archive-unpack/5f7cd289/ido/strings.json
config/worldedit/.archive-unpack/5f7cd289/ig/strings.json
config/worldedit/.archive-unpack/5f7cd289/is/strings.json
config/worldedit/.archive-unpack/5f7cd289/it/strings.json
config/worldedit/.archive-unpack/5f7cd289/ja/strings.json
config/worldedit/.archive-unpack/5f7cd289/jbo/strings.json
config/worldedit/.archive-unpack/5f7cd289/ka/strings.json
config/worldedit/.archive-unpack/5f7cd289/kab/strings.json
config/worldedit/.archive-unpack/5f7cd289/kk/strings.json
config/worldedit/.archive-unpack/5f7cd289/kn/strings.json
config/worldedit/.archive-unpack/5f7cd289/ko/strings.json
config/worldedit/.archive-unpack/5f7cd289/ksh/strings.json
config/worldedit/.archive-unpack/5f7cd289/kw/strings.json
config/worldedit/.archive-unpack/5f7cd289/la-LA/strings.json
config/worldedit/.archive-unpack/5f7cd289/lb/strings.json
config/worldedit/.archive-unpack/5f7cd289/li/strings.json
config/worldedit/.archive-unpack/5f7cd289/lo/strings.json
config/worldedit/.archive-unpack/5f7cd289/lol/strings.json
config/worldedit/.archive-unpack/5f7cd289/lt/strings.json
config/worldedit/.archive-unpack/5f7cd289/lv/strings.json
config/worldedit/.archive-unpack/5f7cd289/me/strings.json
config/worldedit/.archive-unpack/5f7cd289/mi/strings.json
config/worldedit/.archive-unpack/5f7cd289/mk/strings.json
config/worldedit/.archive-unpack/5f7cd289/mn/strings.json
config/worldedit/.archive-unpack/5f7cd289/moh/strings.json
config/worldedit/.archive-unpack/5f7cd289/ms/strings.json
config/worldedit/.archive-unpack/5f7cd289/mt/strings.json
config/worldedit/.archive-unpack/5f7cd289/nds/strings.json
config/worldedit/.archive-unpack/5f7cd289/ne-NP/strings.json
config/worldedit/.archive-unpack/5f7cd289/nl-BE/strings.json
config/worldedit/.archive-unpack/5f7cd289/nl/strings.json
config/worldedit/.archive-unpack/5f7cd289/nn-NO/strings.json
config/worldedit/.archive-unpack/5f7cd289/no/strings.json
config/worldedit/.archive-unpack/5f7cd289/nuk/strings.json
config/worldedit/.archive-unpack/5f7cd289/oc/strings.json
config/worldedit/.archive-unpack/5f7cd289/oj/strings.json
config/worldedit/.archive-unpack/5f7cd289/pa-IN/strings.json
config/worldedit/.archive-unpack/5f7cd289/pl/strings.json
config/worldedit/.archive-unpack/5f7cd289/pt-BR/strings.json
config/worldedit/.archive-unpack/5f7cd289/pt-PT/strings.json
config/worldedit/.archive-unpack/5f7cd289/qya-AA/strings.json
config/worldedit/.archive-unpack/5f7cd289/ro/strings.json
config/worldedit/.archive-unpack/5f7cd289/ru/strings.json
config/worldedit/.archive-unpack/5f7cd289/ry-UA/strings.json
config/worldedit/.archive-unpack/5f7cd289/sah/strings.json
config/worldedit/.archive-unpack/5f7cd289/se/strings.json
config/worldedit/.archive-unpack/5f7cd289/sk/strings.json
config/worldedit/.archive-unpack/5f7cd289/sl/strings.json
config/worldedit/.archive-unpack/5f7cd289/so/strings.json
config/worldedit/.archive-unpack/5f7cd289/sq/strings.json
config/worldedit/.archive-unpack/5f7cd289/sr-CS/strings.json
config/worldedit/.archive-unpack/5f7cd289/sr-Cyrl-ME/strings.json
config/worldedit/.archive-unpack/5f7cd289/sr/strings.json
config/worldedit/.archive-unpack/5f7cd289/strings.json
config/worldedit/.archive-unpack/5f7cd289/sv-SE/strings.json
config/worldedit/.archive-unpack/5f7cd289/swg/strings.json
config/worldedit/.archive-unpack/5f7cd289/szl/strings.json
config/worldedit/.archive-unpack/5f7cd289/ta/strings.json
config/worldedit/.archive-unpack/5f7cd289/th/strings.json
config/worldedit/.archive-unpack/5f7cd289/tl/strings.json
config/worldedit/.archive-unpack/5f7cd289/tlh-AA/strings.json
config/worldedit/.archive-unpack/5f7cd289/tr/strings.json
config/worldedit/.archive-unpack/5f7cd289/tt-RU/strings.json
config/worldedit/.archive-unpack/5f7cd289/tzl/strings.json
config/worldedit/.archive-unpack/5f7cd289/uk/strings.json
config/worldedit/.archive-unpack/5f7cd289/ur-PK/strings.json
config/worldedit/.archive-unpack/5f7cd289/uz/strings.json
config/worldedit/.archive-unpack/5f7cd289/val-ES/strings.json
config/worldedit/.archive-unpack/5f7cd289/vec/strings.json
config/worldedit/.archive-unpack/5f7cd289/vi/strings.json
config/worldedit/.archive-unpack/5f7cd289/yi/strings.json
config/worldedit/.archive-unpack/5f7cd289/yo/strings.json
config/worldedit/.archive-unpack/5f7cd289/zh-CN/strings.json
config/worldedit/.archive-unpack/5f7cd289/zh-HK/strings.json
config/worldedit/.archive-unpack/5f7cd289/zh-TW/strings.json
config/worldedit/schematics/bottomtower.schem
config/worldedit/schematics/cloudislanddirt.schem
config/worldedit/schematics/pirateshipballoons.schem
config/worldedit/schematics/shipwithengine.schem
config/worldedit/schematics/shipwlauncher.schem
config/worldedit/schematics/shipwredstone.schem
config/worldedit/schematics/tempelevator.schem
config/worldedit/sessions/0e98fb84-1d60-472d-a715-a110055af290.json
