/dynmap
/saves
/xaero
/shaderpacks/ComplementaryUnbound_r5.7.1 + EuphoriaPatches_1.8.6
/shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6
/screenshots
/schematics
/logs
/essential
/dynamic-data-pack-cache
/crash-reports
/.fabric
welcomescreen_cache.json
XaeroWaypoints_BACKUP240807/Multiplayer_hfk.falix.gg/config.txt
shaderpacks/Bliss_v2.1.2_(Chocapic13_Shaders_edit).zip
shaderpacks/Bliss_v2.1.2_(Chocapic13_Shaders_edit).zip.txt
shaderpacks/ComplementaryReimagined_r5.6.1.zip.txt
shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6.txt
shaderpacks/ComplementaryReimagined_r5.7.1.zip.txt
shaderpacks/ComplementaryUnbound_r5.7.1 + EuphoriaPatches_1.8.6.txt
/Optional Resourcepacks
replay_pid31896.log
servers.dat_old
hs_err_pid13456.log
hs_err_pid31896.log
hs_err_pid4392.log
hs_err_pid7136.log
/debug
/Distant_Horizons_server_data
/downloads
/dynamic-resource-pack-cache
